@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --box: #dbe9f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #f2f8ed;
    --box: #252931;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.row button {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 0.4rem;
  gap: 2px;
  background-color: var(--box);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  animation: fadePopIn 0.5s ease-out;
}


@keyframes fadePopIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.fade-pop-in {
  animation: fadePopIn 0.5s ease-out;
}

.fade-out {
  animation: disappear 0.5s ease-out;
}
